<!-- imageClassification/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification d'images</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        $(document).ready(function() {
            $(".class-image").hover(
                function() {
                    var imgSrc = $(this).attr("src");
                    $("#hover-image-container").html('<img src="' + imgSrc + '" width="300">');
                },
                function() {
                    $("#hover-image-container").html('');
                }
            );
        });
    </script>

<script>
    function toggleBlur() {
        var checkbox = document.getElementById("blur");
        var images = document.getElementsByClassName("image");
        for (var i = 0; i < images.length; i++) {
            if (checkbox.checked) {
                images[i].classList.add("blur"); // ajouter la classe de flou
            } else {
                images[i].classList.remove("blur"); // supprimer la classe de flou
            }
        }
    }
</script>
</body>
</html>
