{% extends "imageClassification/base.html" %}

{% block content %}
  <h1>Classification d'images</h1>

  {% if image %}

    <div class="img_h1">
        <img class="img_a_classer" src="{{ image.image.url }}" alt="Image à classer" width="300">
    </div>  
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="image_id" value="{{ image.id }}">
      <div class="classes">
      {% for classe in classes %}
        <div>
          <button type="submit" name="classe" value="{{ classe.id }}">
            <img src="{{ classe.image_representative.url }}" alt="{{ classe.nom }}" width="100">
          </button>
        </div>
      {% endfor %}
    </div>
    </form>
  {% else %}
    <p>Toutes les images ont été classées.</p>
  {% endif %}
{% endblock %}
